target/
cluster/tmp/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### IntelliJ IDEA ###
.idea

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Python ###
.venv

/spec.md
src/main/resources/application-local.properties
